/*  
    ORDER OF CONTENT
    1) All
    2) Header
    3) Landing Page
    4) Landing Page - Scroll One
    5) Landing Page - Scroll Two
    6) Landing Page - Scroll Three
    7) Landing Page - Scroll Four
    8) Landing Page - Scroll Five
    9) Resume Page
    10) Contact Page
    11) Message Confirmation Page
    12) Media Queries For Responsiveness
*/

/**********All**********/
* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/*.background-image {
    background-image: url(../Images/portfolio_background_compressed.svg);
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100vw;
    background-repeat: no-repeat;
    z-index: -1;
}*/

.header-spacer {
    height: clamp(138px, 8.750vw, 168px);
    width: 100%;
}

.landing-page-content h3 {
    font-size: clamp(1.5rem, 1.3295rem + 0.4545vw, 1.875rem);
}

.landing-page-content button {
    background: none;
    border: none;
    cursor: pointer;
}

.landing-page-content button img {
    width: clamp(40px, 2.604vw, 50px);
    height: clamp(40px, 2.604vw, 50px);
}

.animated-body {
    animation: animate-body .2s ease-in;
    animation-timing-function: ease-in-out;
}

@keyframes animate-body {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/**********Header**********/
header {
    position: absolute;
    top: 0px;
    width: 100%; 
}

.top-navbar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F0F0F0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin: 2.083vw 5.208vw 0 5.208vw;
    padding: 1.25em 2.917vw 1.25em 2.958vw;
    border-radius: 1.25em;
}

.header-logo {
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: #3577DA;
}

.header-logo:hover {
    color: #1F4A8B;
}

.header-logo h1 {
    font-size: clamp(1.25rem, 0.9091rem + 0.9091vw, 2rem);
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block; 
}

.nav-links li a {
    text-decoration: none;
    font-size: clamp(1rem, 0.8864rem + 0.3030vw, 1.25rem);
    color: #3F3D56;
}

.nav-links li a:hover {
    color: #2A51D1;
}

.nav-links li:not(:last-child) {
    margin-right: 2.292vw;
}

.nav-links li a img {
    width: clamp(1rem, 0.8864rem + 0.3030vw, 1.25rem);
    height: clamp(1rem, 0.8864rem + 0.3030vw, 1.25rem);
    transform: translateY(.15em);
}

.menu-toggle-button {
    display: none;
}

.menu-exit-button {
    display: none;
}

.menu-decorative-rectangle {
    display: none;
}

.home-link-a {
    display: none;
}

.blurred-background {
    display: none;
}

/**********Landing Page**********/
.landing-page-content {
    height: 100vh;
    min-height: 900px;
}

.landing-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr 1fr min-content;
    grid-column-gap: 3.125rem;
    padding: 0 8.073vw 2.083vw 8.073vw;
    grid-column-gap: 2.604vw;
}

.header-spacer, .scroll-to-see-more-container {
    grid-column: 1 / -1;
}

.landing-section-img {
    height: 100%;
    width: clamp(340px, 28.646vw, 550px);
    grid-row: span 2;
}

.slogan {
    font-size: clamp(1.875rem, 1.1364rem + 1.9697vw, 3.5rem);
    color: #3F3D56;
    line-height: 1.65em;
    margin: 2.083vw 0 2.917vw 0;
    opacity: 0;
    transform: translateY(-50px);
}

.slogan span {
    color: #3577DA;
}

.ls-img-right {
    opacity: 0;
    transform: translateX(50px);
}

.job-title-container {
    opacity: 0;
    transform: translateY(50px);
}

.ls-img-left {
    opacity: 0;
    transform: translateX(-50px);
}

.job-title-container, .landing-section img:first-of-type {
    justify-self: end;
}

.landing-section h1 {
    font-size: clamp(1.5rem, 0.5909rem + 2.4242vw, 3.5rem);
    color: white;
}

.landing-section h2 {
    font-size: clamp(1.5rem, 0.5909rem + 2.4242vw, 3.5rem);
    color: #3F3D56;
}

.scroll-to-see-more-container {
    justify-self: center;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.scroll-to-see-more-container p {
    font-size: clamp(1rem, 0.8864rem + 0.3030vw, 1.25rem);
    color: #DFE16C;
}

.scroll-to-see-more-container img {
    width: clamp(40px, 2.604vw, 50px);
    height: clamp(40px, 2.604vw, 50px);
}

/**********Landing Page - Scroll One**********/
.scroll-one {
    background-color: #3577DA;
    display: grid;
    padding: 5.208vw 13.542vw 2.083vw 13.542vw;
    grid-template-rows: min-content min-content 1fr;
    justify-items: center;
}

.avatar-img {
    width: clamp(188px, 13.750vw, 264px);
    height: clamp(200px, 14.583vw, 280px);
    margin-bottom: clamp(-20px, -1.823vw, -35px);
    z-index: 1;
    opacity: 0;
}

.scroll-one p {
    color: white;
    background: #2A6CCF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-size: clamp(1.25rem, 1.0795rem + 0.4545vw, 1.625rem);
    padding: 1.5em;
    font-weight: 300;
}

.scroll-one p a:hover {
    color: #D2C8C8;

}

.scroll-one img {
    align-self: end; 
}

.scroll-one strong {
    font-weight: 600;
}

.scroll-one strong:last-of-type {
    color: #DFE16C;
}

.scroll-one a {
    color: white;
}

/**********Landing Page - Scroll Two**********/
.scroll-two {
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto min-content;
    padding: 2.083vw 5.208vw 2.083vw 5.208vw;
    column-gap: 5.625vw;
}

.scroll-two h3 {
    color: #3577DA;
    grid-column: span 2;
    place-self: center;
}

.scroll-two-left-col, .scroll-two-right-col {
    place-self: center;
    width: 41.97vw;
}

.scroll-two-left-col {
    border: 2px solid #dbdbdb;
    border-radius: 4px;
}

.scroll-two-right-col p {
    font-size: clamp(1rem, 0.8863636375rem + 0.3030303vw, 1.25rem);
}

.scroll-two-right-col em {
    font-style: normal;
    font-weight: 600;
    color: #0033AD;
}

.scroll-two-button-container {
    grid-column: span 2;
    place-self: center;
}

.crypto-chart-market-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    margin: 1em;
    row-gap: 1em;
    grid-column-gap: 1em;
}

.crypto-chart-market-data p {
    font-size: clamp(0.75rem, 0.6364rem + 0.3030vw, 1rem);
}

.crypto-chart-market-data p:first-child {
    font-weight:600;
}

.scroll-two-left-col i {
    margin: 1rem;
    font-size: .8rem;
}

#myChart {
    width: 100%;
    height: 100%
}

/**********Landing Page - Scroll Three**********/
.scroll-three {
    background-color: #3577DA;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr min-content;
    padding: 2.083vw 5.208vw 2.083vw 5.208vw;
    column-gap: 5.625vw;
}

.scroll-three h3 {
    color: #DFE16C;
    grid-column: span 2;
    place-self: center;
}

.scroll-three p {
    color: white;
    font-size: clamp(1rem, 0.8863636375rem + 0.3030303vw, 1.25rem);
}

.scroll-three-text-container {
    align-self: end;
}

.scroll-three-text-container a, .scroll-three-text-container span {
    color: #DFE16C;
    font-weight: 600;
}

.scroll-three-text-container a img{
    margin-left: .5rem;
    transform: translateY(.15em);
}

.scroll-three-instruction {
    width: clamp(100px, 5.990vw, 230px);
    aspect-ratio: 1/2;
    place-self: center end;
}

.scroll-three-button-container {
    grid-column: span 2;
    place-self: center;
}

.kickit-image {
    height: auto;
    cursor: pointer;
}

.swiper-container {
    width: 41.9795vw;
    place-self: center;
    grid-row: span 2;
}

.swiper {
    background: rgba(88, 89, 110, .15);
}

.scroll-three-logo-and-instructions-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    padding-top: clamp(20px, 1.302vw, 25px);
    padding-bottom: clamp(20px, 1.302vw, 25px);
}

.kickit-logo {
    height: clamp(100px, 14.167vw, 272px);
    aspect-ratio: 10 / 7;
    margin-bottom: clamp(-20px, -2.083vw, -40px);
}

.kickit-logo-text {
    white-space: nowrap;
}

.kickit-logo-text span {
    font-family: Quicksand;
    font-size: clamp(3.5rem, 7.604vw, 9.125rem);
    font-weight: 800;
    color: #FFF6F2;
}

.kickit-k {
    display:inline-block;
    animation: k 4s ease-in infinite;
    animation-delay: 1s;
}

.kickit-i {
    display: inline-block;
    transform-origin: bottom center;
    animation: i 4s ease-out infinite;
    animation-delay: 1s;
}

.kickit-ckit {
    display: inline-block;
}

@keyframes k {
    from {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(15deg);
    }

    37.5% {
        transform: rotateZ(-20deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(0deg);
    }
}

@keyframes i {
    from {
        transform: rotateZ(0deg);
    }

    37.5% {
        transform: rotateZ(0deg);
    }

    42.5% {
        transform: rotateZ(3deg);
    }

    46% {
        transform: rotateZ(-2deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(0deg);
    }
}

/**********Landing Page - Scroll Four**********/
.scroll-four {
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto min-content;
    padding: 2.083vw 5.208vw 2.083vw 5.208vw;
    column-gap: 5.625vw;
}

.scroll-four h3 {
    color: #3577DA;
    grid-column: span 2;
    place-self: center;
}

.scroll-four-right-col {
    place-self: center;
}

.scroll-four-right-col p {
    font-size: clamp(1rem, 0.8863636375rem + 0.3030303vw, 1.25rem);
}

.scroll-four-right-col em {
    font-style: normal;
    color: #0033AD;
    font-weight: 600;
}

.scroll-four-left-col {
    place-self: center;
}

.scroll-four-left-col img {
    width: clamp(330px, 31.250vw, 600px);
    transform: scaleX(-1)
}

.scroll-four-arrow {
    grid-column: span 2;
    place-self: center;
    margin-top: 2.5rem;
}

/**********Landing Page - Scroll Five**********/
.scroll-five {
    background-color: #3577DA;
    padding: 2.083vw 0 2.083vw 0;
    display: grid;
    grid-template-rows: min-content min-content auto;
    place-items: center;
}

.scroll-five h3 {
    color: #DFE16C;
    margin-bottom: 1.333em;
}

#return-to-top-button {
    align-self: end;
    color: #DFE16C;
}

#return-to-top-button:hover {
    color: #989947;
}

.scroll-five .contact-page-container {
   gap: clamp(50px, 4.167vw, 108px);
}

/**********Resume Page**********/
.resume-page-container-background {
    background-color: #3577DA;
}

.resume-page-container div:first-child {
    margin-bottom: .9375rem;
}

.pdf-links-container {
    width: clamp(300px, 46.875vw, 900px);
    margin: auto;
}

.pdf-link {
    color: black;
    font-size: clamp(1rem, 0.8864rem + 0.3030vw, 1.25rem);
}

.pdf-link:hover {
    color: #2A51D1;
}

.pdf-tab img {
    width: clamp(12px, .833vw, 16px);
    height: clamp(12px, .833vw, 16px);
    margin-left: 0.25em;
    transform: translateY(.05em);
}

.pdf-download img {
    width: clamp(12px, 1.042vw, 16px);
    height: clamp(12px, 1.042vw, 16px);
    margin-left: 0.25em;
    transform: translateY(.1em);
}

#Resume-PDF {
    margin: 1.5625rem auto 3.125rem auto;
    width: clamp(300px, 49.479vw, 950px);
    aspect-ratio: 8.5 / 11;
    display: flex;
    justify-self: center;
}


/**********Contact Page**********/
.contact-page-container {
    display: flex;
    justify-content: space-around;
    padding: 0 5.208vw 0 5.208vw;
    gap: 5.625vw;
    margin-bottom: clamp(18px, 5.556vw, 20px);
}

.contact-section-container {
    background: #2A6CCF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-size: clamp(1rem, 0.8864rem + 0.3030vw, 1.25rem);
    width: clamp(430px, 41.98vw, 806px);
    height: clamp(430px, 38.28125vw, 735px);
    padding: 1.25em 2.5em 1.25em 2.5em;
    min-width: 480px; /*required to keep containers the same width for some reason*/ 
    color: white;
}

.my-contact-info-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    height: 85%;
}

.my-contact-info {
    display: flex;
    align-items: center;
    margin: 0 2.083vw 2.083vw 0;
}

.large-icons-contact {
    width: clamp(20px, 1.563vw, 30px);
    height: clamp(20px, 1.563vw, 30px);
}

.small-icons-contact {
    width: clamp(16px, 1.354vw, 26px);
    height: clamp(16px, 1.354vw, 26px);
}

.contact-section-container h2 {
    font-size: clamp(1.5rem, 1.3295rem + 0.4545vw, 1.875rem);
    display: flex;
    justify-content: center;
    margin-bottom: 0.694vw;
    font-weight: 600;
}

.contact-section-container div a {
    color: white;
}

.contact-section-container div a:hover {
    color: #D2C8C8;
}

.contact-page-container form {
    display: flex;
    flex-direction: column;
}

.text-input-container label {
    margin-bottom: 0.417vw;
}

.contact-section-container div:nth-of-type(n+2) label {
    margin-top: 0.625vw;
}

.textarea-input-container label {
    margin-bottom: 0.417vw;
}

.text-input-container input {
    background: #F2F2F2;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    height: 2.875em;
    width: 100%;
    padding-left: 10px;
}

button[type="submit"] {
    background: #DFE16C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: black;
    font-size: clamp(1rem, 0.8864rem + 0.3030vw, 1.25rem);
    font-weight: 600;
    width: 10em;
    height: 2.5em;
    margin-top: .75em;
    cursor: pointer;
}

.contact-section-container img {
    margin-right: clamp(10px, 0.625vw, 12px);
}

textarea {
    flex-grow: 1;
    resize: none;
    background: #F2F2F2;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.textarea-input-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.text-input-container strong span {
    color: black;
    float: right;
}

.textarea-input-container strong span {
    color: black;
    float: right;
}

button[type="submit"]:hover {
    background-color: #BFC23F;
}

/**********Message Confirmation Page**********/
.message-confirmation-body {
    background-color: #3577DA;
}

.message-confirmation-container {
    margin: 2.083vw 5.208vw 0 5.208vw;
}

.message-confirmation-container p {
    color: white;
    font-weight: 500;
    font-size: clamp(1rem, 1.042vw, 1.25rem)
}

/**********Media Queries for Responsiveness**********/
@media (max-width: 1130px) {

    /*Adjust contact slide and page */
    .scroll-five {
        grid-template-rows: min-content auto min-content;
    }
    
    .contact-page-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto;
        grid-row-gap: 3.097vw !important;
        height: 100%;
    }

    .contact-section-container {
        min-width: unset;
    }

    .my-contact-info-container {
        height:auto;
    }

    .contact-section-container-left {
        width: 100%;
        height: auto;
    }

    .contact-section-container-right {
        width: 100%;
        height: 100%;
    }

    #return-to-top-button {
        margin: 1em 0 1em 0;
    }

    .contact-page-container-adjusted {
        display: grid;
        grid-template-rows: 1fr !important;
        height: 100%;
    }

    /*Adjust crypto chart information*/
    .crypto-chart-market-data {
        grid-template-columns: 1fr 1fr;
    }

    .market-cap-rank-container {
        display: none;
    }

    .total-supply-container {
        display: none;
    }
}

@media (max-width: 840px) {
    /*Adjust landing slide*/
    #landing-section-right-img {
        display: none;
    }

    .landing-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
    }

    .job-title-container {
        justify-self: unset;
        margin: 2.083vw 0 2.917vw 0;
    }

    .scroll-to-see-more-container {
        align-self: center;
    }

    /*Adjust api integration slide*/
    .scroll-two {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .scroll-two h3 {
        margin-bottom: 1.333em;
    }

    .scroll-two-left-col, .scroll-two-right-col {
        width: 100%;
        margin-bottom: clamp(20px, 1.302vw, 25px);
    }

    .crypto-chart-market-data {
        margin-bottom: .5em;
    }

    #myChart {
        height: 30vh;
        min-height: 240px;
    }

    .crypto-chart-market-data {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .market-cap-rank-container {
        display: inline-block;
    }

    .total-supply-container {
        display: inline-block;
    }

    /*Adjust database manipulation slide*/
    .scroll-three {
        display: grid;
        grid-column-gap: unset;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content 1fr min-content;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e";
    }

    .scroll-three h3 {
        margin-bottom: 1.333em;
        grid-column: unset;
    }

    .scroll-three-logo-and-instructions-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
        grid-area: c;
    }

    .swiper-container {
        grid-row: unset;
        place-self: center;
        grid-area: d;
        width: clamp(338px, 47.619vw, 400px);
    }

    .scroll-three-button-container {
        grid-column: unset;
    }

    .kickit-logo-container {
        justify-self: center;
    }

    .scroll-three-instruction {
        aspect-ratio: unset;
        place-self: unset;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        align-items: center;
    }

    .scroll-three-instruction img {
        transform: scaleX(-1) rotate(90deg);
    }
}    

@media (max-width: 690px) {
    #myChart {
        height: 26vh;
    }
}

@media (max-width: 670px) {
    /*Adjust navbar*/ /*"Toggled" classes are added and removed as needed (check javascript)*/
    .nav-links {
        display: none;
    }

    .blurred-background-toggled {
        position: absolute;
        background: black;
        width: 100vw;
        height: 300vh;
        z-index: 10;
        opacity: 0.5;
        display: inline-block;
        min-height: 1080px;
    }

    .top-navbar-container-toggled {
        padding: 0;
        margin: 0;
    }

    .nav-link-and-decorative-rectangle-container-toggled {
        position: absolute;
        z-index: 20;
        top: 0px;
        left: 0px;
        width: 100%;
        animation: menu-animation-open .12s;
        animation-timing-function: linear;
    }

    .nav-link-container-toggled {
        display: flex;
        
        background-color: #3577DA;
        flex-direction: column;
        padding: 0 20px 0 20px;
    }
    
    .nav-links-toggled {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .nav-links-toggled li {
        margin-bottom: 15px;
        margin-right: 0 !important;
        padding: 10px 25px 10px 25px;
        border-radius: 5px;
    }

    .nav-links-toggled li a {
        color: white;
        font-size: clamp(16px, 2.985vw, 20px);
        display: inline-block;
        width: 100%;
    }

    .nav-links-toggled li:hover {
        background: #0033AD;
    }

    .menu-exit-button-toggled {
        display: inline-block;
        width: clamp(40px, 6.716vw, 45px);
        height: clamp(40px, 6.716vw, 45px);
        margin: 50px 0 40px 0;
        border: none;
        background: none;
        cursor: pointer;
        transform: translateX(25px);
    }

    .menu-exit-button-image {
        width: 100%;
        height: 100%;
        transform: translateY(20%);
    }

    .menu-decorative-rectangle-toggled {
        display: inline-block;
        transform: scaleY(-1);
        width: 100%;
    }

    .home-link-a-toggled {
        display: inline-block;
    }

    .menu-toggle-button {
        display: flex;
    }

    .menu-toggle-button img {
        width: clamp(35px, 5.970vw, 40px);
    }

    .top-navbar-container {
        padding: 1em 2.917vw 1em 2.958vw;
    }

    .nav-links-toggled li a img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(227deg) brightness(103%) contrast(100%);
        transform: translateY(5%);
    }

    .nav-links li a:hover {
        color: #FFFFFF;
    }

    @keyframes menu-animation-open {
        from {
            clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
        }

        to {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }

    /*Adjust api integration slide*/
    .scroll-two-right-col {
        margin-bottom: 10px;
    }

    /*Adjust seo optimization slide*/
    .scroll-four {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .scroll-four h3 {
        margin-bottom: 1.333em;
        order: 1;
    }

    .scroll-four-right-col {
        order: 2;
        padding-bottom: clamp(20px, 1.302vw, 25px);
    }

    .scroll-four-left-col {
        order: 3;
    }

    .scroll-four-arrow {
        order: 4;
    }

    .scroll-four-left-col img {
        aspect-ratio: 1/1;
        width: clamp(150px, 49.254vw, 330px);
    }

    /*Adjust contact slide*/
    .contact-section-container {
        min-width: 255px;
    }

    .contact-link {
        overflow-wrap: break-word;
        word-break: break-all;
    }
}

@media (max-width: 545px) {
    .scroll-two-right-col p {
        font-size: 0.875rem;
    }
}

@media (max-width: 475px) {
    .landing-section-img {
        width: clamp(240px, 71.579vw, 340px);
    }
    
    .scroll-one p {
        font-size: 1rem;
    }

    .scroll-two h3 {
        margin-bottom: clamp(10px, 3.158vw, 15px);
    }

    .crypto-chart-market-data {
        grid-template-columns: 1fr 1fr;
    }

    .market-cap-rank-container, .total-supply-container {
        display: none;
    }

    .scroll-three-instruction p {
        font-size: 0.875rem;
    }

    .scroll-three-instruction img {
        width: clamp(50px, 12.632vw, 60px);
    }

    .swiper-container {
        width: clamp(240px, 71.158vw, 338px);
    }

    .header-spacer {
        height: clamp(100px, 29.053vw, 138px);
        width: 100%;
    }
}

@media (max-width: 362px) {
    .scroll-two-right-col p {
        font-size: clamp(0.75rem, 3.867vw, 0.875rem);
    }
}

